
{% set common = salt['grains.filter_by']({
    'Debian': {
        'source': {'engine': 'pkg', 'address': 'http://'},
        'pkgs': ['dpkg-dev','contrail-utils'],
    },
    'RedHat': {
        'source': {'engine': 'pkg', 'address': 'http://'},
        'pkgs': ['contrail-utils', 'contrail-nodemgr'],
    },
}, merge=salt['pillar.get']('opencontrail:common')) %}

{% set collector = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-analytics', 'python-kafka-python', 'python-cassandra'],
        'redis_config': '/etc/redis/redis.conf',
        'services': ['supervisor-analytics','redis-server']
    },
    'RedHat': {
        'pkgs': ['contrail-analytics'],
        'redis_config': '/etc/redis.conf',
        'services': ['supervisor-analytics','redis']
    },
}, merge=salt['pillar.get']('opencontrail:collector')) %}

{% set compute = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-vrouter','contrail-vrouter-dkms', 'iproute2', 'haproxy','contrail-nova-driver'],
        'services': ['supervisor-vrouter']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-vrouter', 'haproxy', 'contrail-vrouter-source'],
        'services': ['supervisor-vrouter']
    },
}, merge=salt['pillar.get']('opencontrail:compute')) %}

{% set config = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-config-openstack','ifmap-server'],
        'services': ['supervisor-config']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-config'],
        'services': ['supervisor-config']
    },
}, merge=salt['pillar.get']('opencontrail:config')) %}

{% set control = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-control','contrail-dns'],
        'services': ['contrail-control', 'supervisor-control']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-control'],
        'services': ['contrail-control', 'supervisor-control']
    },
}, merge=salt['pillar.get']('opencontrail:control')) %}

{% set database = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['cassandra', 'zookeeper', 'supervisor', 'openjdk-7-jre-headless','contrail-database'],
        'cassandra_config': '/etc/cassandra/',
        'services': ['supervisord-contrail-database','zookeeper']
    },
    'RedHat': {
        'pkgs': ['contrail-openstack-database', 'zookeeper', 'supervisor', 'java-1.7.0-openjdk-headless'],
        'cassandra_config': '/etc/cassandra/conf/',
        'services': ['supervisord-contrail-database','zookeeper']
    },
}, merge=salt['pillar.get']('opencontrail:database')) %}

{% set web = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['contrail-web-controller', 'nodejs-legacy'],
        'services': ['contrail-webui-webserver','contrail-webui-jobserver']
    },
    'RedHat': {
        'pkgs': ['contrail-web-controller'],
        'services': ['supervisor-webui']
    },
}, merge=salt['pillar.get']('opencontrail:web')) %}

{% set tor = salt['grains.filter_by']({
    'Debian': {
        'agents': 1,
        'bind': {
           'port': 8086
        }
    },
}, merge=salt['pillar.get']('opencontrail:tor')) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-contrail'],
    }
}, merge=salt['pillar.get']('opencontrail:client')) %}
