{%- from "opencontrail/map.jinja" import config with context %}
#!/bin/bash -e

cat /srv/salt/pillar/opencontrail-config.sls | envsubst > /tmp/opencontrail-config.sls
mv /tmp/opencontrail-config.sls /srv/salt/pillar/opencontrail-config.sls

salt-call --local --retcode-passthrough state.highstate

{% for service in config.services %}
service {{ service }} stop || true
{% endfor %}

/usr/bin/supervisord --nodaemon -c /etc/contrail/supervisord_config.conf

{#-
vim: syntax=jinja
-#}